<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pagina inicio</h1>
    <a href="/users"><h5>Registro y Usuarios</h5></a>
  </body>
</html>
